.todo-form{
   display :flex;
   width:100%;
   justify-content: space-evenly;
   align-items: center;
   margin-top:10px; 
   margin-bottom:10px;
   height : 50px;
}

.todo-form > input {
    height : 40px;
    width : 250px;
    padding : 1.2em;
    outline : none;
    background-color: transparent;
    border: 2px solid white;
    color : white;
    border-radius : 8px;
    font-size : 14px;
}

.todo-form > button {
    width : 80px;
    height: 40px;
    padding: .2px;
    background-color: #f0a92f;
    border : none;
    cursor : pointer;
    border-radius: 8px;
    font-weight: 700;
    color : white;
    
}